body {
  background: var(--brand-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
}
:root {
  --brand-color: #f5f5f5;
  --second-white-color: #ffffff;
  --accent-color: #2196f3;
  --prime-black-color: #000000;
  --second-black-color: #212121;
  --third-black-color: #757575;
  --backgroun-footer-color: #2f303a;
  --active-color: rgba(200, 055, 0, 0.8);
  --background-button-color: #f5f4fa;
  --mailto-ground-color: rgba(255, 255, 255, 0.6);
}
li {
  list-style-type: none;
}
/* Header */
.logo-header {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--prime-black-color);
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}
.logo-header:hover,
.logo-header:focus,
.logo-ground:hover,
.logo-ground:focus {
  color: var(--accent-color);
}
.logo-header:active,
.logo-ground:active {
  color: var(--active-color);
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-black-color);
  text-decoration: none;
}
.site-nav:hover,
.site-nav:focus,
.mailto-tel-header:hover,
.mailto-tel-header:focus,
.link-address:hover,
.link-address:focus,
.mailto-tel-ground:hover,
.mailto-tel-ground:focus,
.prezentation button:hover,
.prezentation button:focus,
.prezentation .title:hover,
.prezentation .title:focus {
  color: var(--accent-color);
}
.mailto-tel-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-black-color);
  text-decoration: none;
}
.site-nav:active,
.mailto-tel-header:active,
.link-address:active,
.mailto-tel-ground:active,
.prezentation button:active,
.prezentation .title:active {
  color: var(--active-color);
}
/* Main */
.hero {
  background: var(--backgroun-footer-color);
}
.hero > .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--second-white-color);
}
button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.prezentation button {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--second-black-color);
}
.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-black-color);
}
.advantages .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--third-black-color);
}
.our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-black-color);
}
.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--second-black-color);
}
.our-team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--third-black-color);
}
.prezentation .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-black-color);
}
.prezentation p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-black-color);
}
/* Footer */
.ground {
  background: var(--backgroun-footer-color);
}
.logo-ground {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-white-color);
  text-decoration: none;
}
.link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-white-color);
  text-decoration: none;
}
.mailto-tel-ground {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--mailto-ground-color);
  text-decoration: none;
}
